---
apiVersion: v1
kind: Secret
metadata:
  name: "argocd-agent-{{ ocp_cluster_name }}-cluster"
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: cluster
    argocd-agent.argoproj-labs.io/agent-name: "argocd-agent-{{ ocp_cluster_name }}"
stringData:
  name: "argocd-agent-{{ ocp_cluster_name }}"
  server: "https://argocd-agent-principal-resource-proxy.argocd.svc.cluster.local:9090?agentName=argocd-agent-{{ ocp_cluster_name }}"
  config: |
    {{ {
      "tlsClientConfig": {
        "insecure": false,
        "certData": hub_secret.data['tls.crt'] | b64decode,
        "keyData": hub_secret.data['tls.key'] | b64decode,
        "caData": hub_secret.data['ca.crt'] | b64decode
      }
    } | to_nice_json(indent=2) | indent(4) }}